#navbar{
    height: 180px;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333
}

.capa{
    margin-top: 20px;
    max-width: 300px; max-height: 300px;
}

.titulo{
    font-size: 1.9rem;
    margin-bottom: 30px;
}

#datas{
    font-size: 14px;
}

.bandeira{
    max-width: 600px; max-height: 600px;
}

#loja{
    height: 80vh;
}