*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

body {
    color: aliceblue;
    font-size: 100p%;
    background: rgb(10,10,10);
    font-family: sans-serif;
}

.logo{
    max-width: 150px; max-height: 100px;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000 20%;
    height: 8vh;
}

.conteudo{
    border-top: 0.5px solid;
    padding-bottom: 30px;
    border: none;
}

.conteudo-principal{
    display: flex;

}

.rodape{
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.a{
    color: aliceblue;
    transition: 0.3s;
}

main{
    background: url("/Imagens/BackgroundIkaruz.png") no-repeat
    center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: black;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .ouca{
    font-size: 70px;
  }

  .nome-musica{
    font-size: 50px;
  }

  .descricao{
    padding: 5px;
    font-size: 20px;
  }

  .youtube{
    max-width:125px;
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .soundcloud{
    max-width:125px;
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .suamusica{
    max-width:125px;
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .redes-sociais{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .musica-nova{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }